/* .tb{
    border: 1px solid ;
    border-radius: 5%; 
    width: 210%;
    height: 2000%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    box-shadow: 50px;
    padding-left: 10px;
    background-color: rgb(114, 167, 245);
    border-top-left-radius: 150%;
}
body {
    background-color: rgb(248, 248, 248);
    
    border-start-end-radius: 50% ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    font-style: italic;
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(243, 231, 231);
    box-sizing: border-box;
 margin: 0%;
 margin-right: 0%;
 border-bottom-right-radius: 150% ;

 
    

}
input{
    border: 1px solid;
    background-color: beige;
}
textarea
{
    border: 1px solid;
}*/
b{
    color: red;
}